* {
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

.editor-meme {
    display: flex;
    margin-block-start: 200px;
    margin-inline-start: 300px;
    gap: 30px;
}

.canvas-container {
    width: 30vw;
    border: 1px solid lightgray;
    background-color: white;
}

.editor-btn-container {
    background-color:steelblue;
}