* {
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

* :not(img) {
    grid-column: 2;
}

.gallery-images {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

img {
    width: 100%;
}

.editor-meme {
    display: flex;
    margin: 0 auto;
    gap: 2em;
}

.canvas-container {
    width: 30vw;
    border: 1px solid lightgray;
    background-color: white;
}

.editor-btn-container {
    width: 400px;
    background-color:steelblue;
}